body {
    background-color: burlywood;
}

#clock-container {
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    height: 460px;
    width: 260px;
    background-color: black;
    border-radius: 5px;
    opacity: 0.6;
}

#countdown-timer {
    background-color: white;
    height: 40%;
    border: 10px solid #00b7eb;
}

#user-actions {
    height: 45%;
    color: white;
}

#countdown-time-text {
    font-size: 50px;
    color: #00b7eb;
}

#timer-config-panel {
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
}
